/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/***********************
  Media Queries
***********************/
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff !important;
  overflow-x: hidden !important;
  font-family: 'Lato', sans-serif !important;
  line-height: 17px;
}
body .add-btn {
  margin-top: 10px;
  color: #343AC8;
}
body .add-btn:hover {
  color: #000;
  opacity: 1;
}
body ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body img {
  max-width: 100%;
}
body .loading-container {
  justify-content: center;
  display: flex;
  height: 85vh;
  align-content: center;
  align-items: center;
  color: #333 !important;
}
body .loading-container .ant-spin-dot i {
  background-color: #333 !important;
}
body .loading-container .ant-spin-text {
  color: #333;
}
body .loading-container.loading-container-h {
  height: 250px;
}
body .small-loading-container {
  justify-content: center;
  display: flex;
  margin: 40px;
  align-content: center;
  align-items: center;
  color: #333 !important;
}
body .small-loading-container .ant-spin-dot i {
  background-color: #333 !important;
}
body .small-loading-container .ant-spin-text {
  color: #333;
}
body table {
  background: #fff;
}
body .ant-modal {
  width: 848px !important;
}
body .ant-modal-content {
  width: 100%;
}
body .ant-modal-content .ant-modal-close .anticon {
  color: #002244;
}
body .ant-modal-content .ant-modal-close .anticon:hover {
  color: #343AC8;
  opacity: 1;
}
body .ant-modal-body #FormView,
body .ant-modal-body #CustomerFormView {
  margin-top: 0;
}
body h1 {
  font-weight: bold;
  font-size: 18px;
}
body .fab-container {
  bottom: 5vh;
  position: fixed;
  margin: 1em;
  right: 2vw;
}
body .fab-container:hover {
  opacity: 0.8;
}
body .fab-container button {
  cursor: pointer !important;
  color: white !important;
  font-size: 24px !important;
  background-color: #001529 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}
p {
  margin: 0 0 10px;
}
a {
  text-decoration: none;
  transition: all ease-in-out 0.4s;
}
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif !important;
}
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.layout {
  /** Theme Padding **/
  /** /.Theme Padding **/
  /** Theme Margin **/
  /** /.Theme Margin **/
  /** Theme Border **/
  /** /.Theme Border **/
  /** Theme Text Color **/
  /** Theme Text Color **/
  /** Theme Background Color **/
  /** /.Theme Background Color **/
  /* Display None Helper Classes */
  /* Display None Helper Classes */
}
.layout .scroll-up-down {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.layout .rotate-360 {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: hourglass;
}
@keyframes hourglass {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.layout .heartbeat {
  animation: heartbeat 1s infinite alternate;
}
@keyframes heartbeat {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes heartbeat {
  to {
    -webkit-transform: scale(1.1);
  }
}
.layout .rotate {
  -webkit-animation-name: rotateme;
  animation-name: rotateme;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.layout .pd-5 {
  padding: 5px;
}
.layout .pd-t-5 {
  padding-top: 5px;
}
.layout .pd-b-5 {
  padding-bottom: 5px;
}
.layout .pd-l-5 {
  padding-left: 5px;
}
.layout .pd-r-5 {
  padding-right: 5px;
}
.layout .pd-t-b-5 {
  padding: 5px 0;
}
.layout .pd-l-r-5 {
  padding: 0 5px;
}
.layout .pd-10 {
  padding: 10px;
}
.layout .pd-t-10 {
  padding-top: 10px;
}
.layout .pd-b-10 {
  padding-bottom: 10px;
}
.layout .pd-l-10 {
  padding-left: 10px;
}
.layout .pd-r-10 {
  padding-right: 10px;
}
.layout .pd-t-b-10 {
  padding: 10px 0;
}
.layout .pd-l-r-10 {
  padding: 0 10px;
}
.layout .pd-15 {
  padding: 15px;
}
.layout .pd-t-15 {
  padding-top: 15px;
}
.layout .pd-b-15 {
  padding-bottom: 15px;
}
.layout .pd-l-15 {
  padding-left: 15px;
}
.layout .pd-r-15 {
  padding-right: 15px;
}
.layout .pd-t-b-15 {
  padding: 15px 0;
}
.layout .pd-l-r-15 {
  padding: 0 15px;
}
.layout .pd-20 {
  padding: 20px;
}
.layout .pd-t-20 {
  padding-top: 20px;
}
.layout .pd-b-20 {
  padding-bottom: 20px;
}
.layout .pd-l-20 {
  padding-left: 20px;
}
.layout .pd-r-20 {
  padding-right: 20px;
}
.layout .pd-t-b-20 {
  padding: 20px 0;
}
.layout .pd-l-r-20 {
  padding: 0 20px;
}
.layout .pd-25 {
  padding: 25px;
}
.layout .pd-t-25 {
  padding-top: 25px;
}
.layout .pd-b-25 {
  padding-bottom: 25px;
}
.layout .pd-l-25 {
  padding-left: 25px;
}
.layout .pd-r-25 {
  padding-right: 25px;
}
.layout .pd-t-b-25 {
  padding: 25px 0;
}
.layout .pd-l-r-25 {
  padding: 0 25px;
}
.layout .pd-30 {
  padding: 30px;
}
.layout .pd-t-30 {
  padding-top: 30px;
}
.layout .pd-b-30 {
  padding-bottom: 30px;
}
.layout .pd-l-30 {
  padding-left: 30px;
}
.layout .pd-r-30 {
  padding-right: 30px;
}
.layout .pd-t-b-30 {
  padding: 30px 0;
}
.layout .pd-l-r-30 {
  padding: 0 30px;
}
.layout .pd-0 {
  padding: 0 !important;
}
.layout .pd-b-0 {
  padding-bottom: 0 !important;
}
.layout .pd-t-0 {
  padding-top: 0 !important;
}
.layout .pd-l-0 {
  padding-left: 0 !important;
}
.layout .pd-r-0 {
  padding-right: 0 !important;
}
.layout .pd-t-65 {
  padding-top: 65px;
}
.layout .pd-t-42 {
  padding-top: 42px;
}
.layout .mr-5 {
  margin: 5px;
}
.layout .mr-t-5 {
  margin-top: 5px;
}
.layout .mr-b-5 {
  margin-bottom: 5px;
}
.layout .mr-l-5 {
  margin-left: 5px;
}
.layout .mr-r-5 {
  margin-right: 5px;
}
.layout .mr-t-b-5 {
  margin: 5px 0;
}
.layout .mr-l-r-5 {
  margin: 0 5px;
}
.layout .mr-10 {
  margin: 10px;
}
.layout .mr-t-10 {
  margin-top: 10px;
}
.layout .mr-b-10 {
  margin-bottom: 10px;
}
.layout .mr-l-10 {
  margin-left: 10px;
}
.layout .mr-r-10 {
  margin-right: 10px;
}
.layout .mr-t-b-10 {
  margin: 10px 0;
}
.layout .mr-l-r-10 {
  margin: 0 10px;
}
.layout .mr-15 {
  margin: 15px;
}
.layout .mr-t-15 {
  margin-top: 15px;
}
.layout .mr-b-15 {
  margin-bottom: 15px;
}
.layout .mr-l-15 {
  margin-left: 15px;
}
.layout .mr-r-15 {
  margin-right: 15px;
}
.layout .mr-t-b-15 {
  margin: 15px 0;
}
.layout .mr-l-r-15 {
  margin: 0 15px;
}
.layout .mr-20 {
  margin: 20px;
}
.layout .mr-t-20 {
  margin-top: 20px;
}
.layout .mr-b-20 {
  margin-bottom: 20px;
}
.layout .mr-l-20 {
  margin-left: 20px;
}
.layout .mr-r-20 {
  margin-right: 20px;
}
.layout .mr-t-b-20 {
  margin: 20px 0;
}
.layout .mr-l-r-20 {
  margin: 0 20px;
}
.layout .mr-25 {
  margin: 25px;
}
.layout .mr-t-25 {
  margin-top: 25px;
}
.layout .mr-b-25 {
  margin-bottom: 25px;
}
.layout .mr-l-25 {
  margin-left: 25px;
}
.layout .mr-r-25 {
  margin-right: 25px;
}
.layout .mr-t-b-25 {
  margin: 25px 0;
}
.layout .mr-l-r-25 {
  margin: 0 25px;
}
.layout .mr-30 {
  margin: 30px;
}
.layout .mr-t-30 {
  margin-top: 30px;
}
.layout .mr-b-30 {
  margin-bottom: 30px;
}
.layout .mr-l-30 {
  margin-left: 30px;
}
.layout .mr-r-30 {
  margin-right: 30px;
}
.layout .mr-t-b-30 {
  margin: 30px 0;
}
.layout .mr-l-r-30 {
  margin: 0 30px;
}
.layout .mr-0 {
  margin: 0 !important;
}
.layout .mr-b-0 {
  margin-bottom: 0 !important;
}
.layout .mr-t-0 {
  margin-top: 0 !important;
}
.layout .mr-l-0 {
  margin-left: 0 !important;
}
.layout .mr-r-0 {
  margin-right: 0 !important;
}
.layout .mr-t-65 {
  margin-top: 65px;
}
.layout .mr-t-42 {
  margin-top: 42px;
}
.layout .border-white {
  border: 1px solid #fff !important;
}
.layout .border-top-white {
  border-top: 1px solid #fff !important;
}
.layout .border-bottom-white {
  border-bottom: 1px solid #fff !important;
}
.layout .border-left-white {
  border-left: 1px solid #fff !important;
}
.layout .border-right-white {
  border-right: 1px solid #fff !important;
}
.layout .border-black {
  border: 1px solid #000 !important;
}
.layout .border-top-black {
  border-top: 1px solid #000 !important;
}
.layout .border-bottom-black {
  border-bottom: 1px solid #000 !important;
}
.layout .border-left-black {
  border-left: 1px solid #000 !important;
}
.layout .border-right-black {
  border-right: 1px solid #000 !important;
}
.layout .border-danger {
  border: 1px solid #EB5757 !important;
}
.layout .border-top-danger {
  border-top: 1px solid #EB5757 !important;
}
.layout .border-bottom-danger {
  border-bottom: 1px solid #EB5757 !important;
}
.layout .border-left-danger {
  border-left: 1px solid #EB5757 !important;
}
.layout .border-right-danger {
  border-right: 1px solid #EB5757 !important;
}
.layout .border-primary {
  border: 1px solid #343AC8 !important;
}
.layout .border-top-primary {
  border-top: 1px solid #343AC8 !important;
}
.layout .border-bottom-primary {
  border-bottom: 1px solid #343AC8 !important;
}
.layout .border-left-primary {
  border-left: 1px solid #343AC8 !important;
}
.layout .border-right-primary {
  border-right: 1px solid #343AC8 !important;
}
.layout .border-secondary {
  border: 1px solid #00CFFF !important;
}
.layout .border-top-secondary {
  border-top: 1px solid #00CFFF !important;
}
.layout .border-bottom-secondary {
  border-bottom: 1px solid #00CFFF !important;
}
.layout .border-left-secondary {
  border-left: 1px solid #00CFFF !important;
}
.layout .border-right-secondary {
  border-right: 1px solid #00CFFF !important;
}
.layout .border-success {
  border: 1px solid #20E0AB !important;
}
.layout .border-top-success {
  border-top: 1px solid #20E0AB !important;
}
.layout .border-bottom-success {
  border-bottom: 1px solid #20E0AB !important;
}
.layout .border-left-success {
  border-left: 1px solid #20E0AB !important;
}
.layout .border-right-success {
  border-right: 1px solid #20E0AB !important;
}
.layout .border-warning {
  border: 1px solid #FFC53D !important;
}
.layout .border-top-warning {
  border-top: 1px solid #FFC53D !important;
}
.layout .border-bottom-warning {
  border-bottom: 1px solid #FFC53D !important;
}
.layout .border-left-warning {
  border-left: 1px solid #FFC53D !important;
}
.layout .border-right-warning {
  border-right: 1px solid #FFC53D !important;
}
.layout .h-100 {
  height: 100%;
}
.layout .h-75 {
  height: 75%;
}
.layout .h-vh-90 {
  height: 90vh;
}
.layout .h-75-p {
  height: 75px;
}
.layout .h-100-p {
  height: 100px;
}
.layout .h-200-p {
  height: 200px;
}
.layout .h-250-p {
  height: 250px;
}
.layout .h-300-p {
  height: 300px;
}
.layout .w-100 {
  width: 100%;
}
.layout .w-auto {
  width: auto;
}
.layout .w-100-p {
  width: 100px;
}
.layout .w-200-p {
  width: 200px;
}
.layout .w-250-p {
  width: 250px;
}
.layout .w-300-p {
  width: 300px;
}
.layout .f-left {
  float: left;
}
.layout .f-right {
  float: right;
}
.layout .f-none {
  float: none;
}
.layout .f-w-600 {
  font-weight: 600;
}
.layout .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout .align-item-start {
  align-items: flex-start;
}
.layout .align-item-end {
  align-items: flex-end;
}
.layout .align-item-normal {
  align-items: normal;
}
.layout .justify-flex-start {
  justify-content: flex-start;
}
.layout .justify-flex-end {
  justify-content: flex-end;
}
.layout .justify-center {
  justify-content: center;
}
.layout .justify-space-between {
  justify-content: space-between;
}
.layout .justify-space-around {
  justify-content: space-around;
}
.layout .flex-flow {
  flex-flow: row wrap;
}
.layout .text-white {
  color: #fff;
}
.layout .text-black {
  color: #000;
}
.layout .text-normal {
  color: #0f172acc;
}
.layout .text-danger {
  color: #EB5757 !important;
}
.layout .text-primary {
  color: #343AC8 !important;
}
.layout .text-success {
  color: #20E0AB !important;
}
.layout .text-warning {
  color: #FFC53D !important;
}
.layout .text-secondary {
  color: #00CFFF !important;
}
.layout .text-orange {
  color: #F77A4C !important;
}
.layout .text-purple {
  color: #A752E4 !important;
}
.layout .bg-black {
  background: #000;
}
.layout .bg-base-light {
  background-color: #F5F7FB;
}
.layout .bg-base {
  background: #F8F9FF !important;
}
.layout .bg-danger {
  background: #EB5757;
}
.layout .bg-primary {
  background: #343AC8;
}
.layout .bg-secondary {
  background: #00CFFF;
}
.layout .bg-success {
  background: #20E0AB;
}
.layout .bg-warning {
  background: #FFC53D;
}
.layout .b-0 {
  border: 0 !important;
}
.layout .border-1 {
  border: 1px solid #E3E8F1;
}
.layout .cursor-pointer {
  cursor: pointer;
}
.layout .cursor-default {
  cursor: default;
}
.layout .overflow-h {
  overflow: hidden;
}
.layout .scroller {
  overflow: scroll !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.layout .scroller::-moz-scrollbar {
  display: none;
}
.layout .scroller::-webkit-scrollbar {
  width: 6px;
}
.layout .scroller::-webkit-scrollbar:horizontal {
  height: 6px;
}
.layout .scroller::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #f6f8fd;
}
.layout .scroller::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 3px;
}
.layout .scroller::-webkit-scrollbar-thumb:hover {
  background: #d6d6d6;
}
.layout .pre-wrap {
  white-space: pre-wrap;
  word-break: break-all;
}
.layout .d-none {
  display: none;
}
@media (max-width: 480px) {
  .layout .d-none-xs {
    display: none;
  }
}
@media (max-width: 767px) {
  .layout .d-none-sm {
    display: none;
  }
}
@media (max-width: 992px) {
  .layout .d-none-md {
    display: none;
  }
}
.layout .d-block {
  display: block;
}
.layout .d-inline-block {
  display: inline-block;
}
.layout .transition {
  transition: all ease-in-out 0.4s;
}
.layout .overlay {
  position: relative;
}
.layout .overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.layout .p-relative {
  position: relative;
}
.layout .p-absolute {
  position: absolute;
}
.layout .text-left {
  text-align: left;
}
.layout .text-center {
  text-align: center;
}
.layout .text-right {
  text-align: right;
}
.layout {
  background: #fff !important;
  overflow-x: hidden !important;
  display: flex;
}
@media (max-width: 991px) {
  .table-h .ant-table-wrapper {
    min-width: 1000px;
  }
}
.main-content {
  width: calc(100% - 111px);
  margin-left: auto;
  padding: 24px 48px 48px;
}
/** Main Footer **/
.footer {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid #E3E8F1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #00000099;
}
.footer p {
  margin: 0;
}
.footer .footer-links {
  display: flex;
  align-items: center;
  gap: 16 px;
  font-size: 16px;
}
.footer .footer-links a {
  color: #00000099;
}
.footer .footer-links a:hover {
  color: #343AC8;
  text-decoration: underline;
}
.footer .footer-social-links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer .footer-social-links a {
  fill: #00000099;
  color: #00000099;
}
.footer .footer-social-links a:hover {
  fill: #343AC8;
  color: #343AC8;
  text-decoration: underline;
}
.footer .footer-social-links svg {
  width: 20px;
  height: 20px;
}
/** Main Footer End **/
/** Main Aside **/
.layout-aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  flex: 0 0 111px;
  max-width: 111px;
  min-width: 111px;
  width: 111px;
  background: #343AC8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.layout-aside .logo svg {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
.layout-aside a {
  width: 100%;
  color: #fff;
  fill: #fff;
  padding: 24px;
  display: block;
  text-align: center;
  font-size: 12px;
}
.layout-aside a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.layout-aside a svg {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto 10px;
}
/** Main Aside End **/
/**** Global Styling ****/
.MuiTabs-root .MuiTabs-flexContainer {
  gap: 24px;
  border-bottom: 1px solid #E3E8F1;
}
.MuiTabs-root .MuiButtonBase-root {
  padding: 24px 0;
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  max-width: inherit;
  min-width: inherit;
  color: #0f172acc;
}
.MuiTabs-root .MuiButtonBase-root.Mui-selected {
  color: #343AC8;
}
.MuiTabs-root .MuiTabs-indicator {
  background: #343AC8;
}
.heading {
  font-size: 20px;
  margin-top: 24px;
  margin-top: 12px;
}
.card {
  border: 1px solid #E3E8F1;
  border-radius: 12px;
  padding: 16px;
}
.card .card-head {
  margin-bottom: 16px;
}
.card .card-head .title {
  color: #0f172acc;
  margin-bottom: 0;
  font-size: 13px;
}
.card .card-head .subtitle {
  display: block;
  font-size: 20px;
}
/**** Global Styling End ****/
/**** App Styling ****/
/** Sub Header **/
.subheder {
  display: flex;
  gap: 48px;
  margin-bottom: 34px;
}
.subheder .node-caption {
  display: flex;
  gap: 24px;
}
.subheder .node-caption .MuiAvatar-root {
  width: 60px;
  height: 60px;
}
.subheder .node-caption .caption {
  min-width: 200px;
}
.subheder .caption p {
  color: #0f172acc;
  font-size: 14px;
}
.subheder .caption .title {
  font-size: 36px;
  line-height: 26px;
}
.subheder .node-details {
  display: flex;
  gap: 48px;
}
.subheder .node-details .caption .title {
  font-size: 20px;
}
/** Sub Header Emd **/
/** Matrics Tab **/
.metrics-tab .filter-by-wrap {
  border: 1px solid #E3E8F1;
  background: rgba(235, 236, 255, 0.2);
  border-radius: 12px;
  padding: 26px 24px;
  margin-top: 24px;
}
.metrics-tab .filter-by-wrap p {
  font-size: 13.5px;
  color: #0f172acc;
  margin-bottom: 16px;
}
.metrics-tab .filter-by-wrap .filter-by-btns {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}
.metrics-tab .filter-by-wrap .filter-by-btns .MuiButtonBase-root {
  padding: 0 13px;
  height: 30px;
  border-radius: 30px;
  text-transform: capitalize;
  font-size: 16px;
  background: rgba(235, 236, 255, 0.5);
  color: #0f172acc;
  box-shadow: none;
  letter-spacing: 0.1px;
}
.metrics-tab .filter-by-wrap .filter-by-btns .MuiButtonBase-root:hover {
  background: rgba(211, 213, 250, 0.5);
}
.metrics-tab .filter-by-wrap .filter-by-btns .MuiButtonBase-root:focus {
  border-color: #343AC8;
}
.metrics-tab .filter-by-wrap .filter-by-btns .MuiButtonBase-root.active {
  background: #343AC8;
  color: #fff;
}
.metrics-tab .filter-by-wrap .node-btn.MuiButtonBase-root {
  padding: 8px 16px;
  height: 41px;
  border-radius: 8px;
  text-transform: capitalize;
  font-size: 16px;
  background: #fff;
  color: #0f172acc;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
  width: 100%;
  justify-content: space-between;
}
.metrics-tab .filter-by-wrap .node-btn.MuiButtonBase-root p {
  margin: 0;
}
.metrics-tab .filter-by-wrap .node-btn.MuiButtonBase-root .node-detail {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}
.metrics-tab .filter-by-wrap .node-btn.MuiButtonBase-root .node-add {
  color: #343AC8;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.metrics-tab .filter-by-wrap .node-btn.MuiButtonBase-root img {
  width: 25px;
}
.metrics-tab .filter-by-wrap .node-btn.MuiButtonBase-root:hover {
  background-color: rgba(211, 213, 250, 0.5);
  border-color: #171c8e;
}
.metrics-tab .radio-btn-wrap {
  width: 196px;
  padding: 6px;
  border-radius: 30px;
  background: rgba(52, 58, 200, 0.1);
  display: flex;
  align-items: center;
  gap: 5px;
}
.metrics-tab .radio-btn-wrap .MuiButtonBase-root {
  width: 100%;
  min-width: 30px;
  padding: 0 8px;
  height: 26px;
  border-radius: 30px;
  text-transform: capitalize;
  background: transparent;
  box-shadow: none;
  color: #343AC8;
  letter-spacing: 0.1px;
}
.metrics-tab .radio-btn-wrap .MuiButtonBase-root:focus {
  border-color: #343AC8;
}
.metrics-tab .radio-btn-wrap .MuiButtonBase-root.active {
  background: #343AC8;
  color: #fff;
}
.metrics-tab .multi-actions-wrap {
  margin: 24px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.metrics-tab .cards-wrap {
  margin: 24px 0;
}
/** Matrics Tab End **/
/*# sourceMappingURL=index.css.map */